<br>

<div class="container">
<b><p id="notice"><%= notice %></p></b>

    <center><h6><b>Create Task</b></h6></center>

<div class ="container-fluid", style= "margin-left:150px">
<%= render 'form', task: @task %>

</div>
