
<br>
<div class="container">
<br>
<p id="notice"><%= notice %></p>

    <center><h6>Update Project Detail</h6></center>
<br>
<div class ="container-fluid", style= "margin-left : 250px;">
<%= render 'form', project: @project %>

</div>

</div>
