// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div .container {
  padding:3px;
  border:0;
  box-shadow:0 0 10px 2px rgba(0,0,0,0.06);
  align-content: center;
  border-radius: 5px;
  //margin-left:25px;
  display: inline-block;

}

div .box {
  text-align: left;

}
