// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div .container {
  padding:5px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  align-content: center;

}
 div .main {
  width: 950px;
  height: 500px;
  //border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
}
